<html>
<head>
    <title>Consultar Importación</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<style>
    .menu-hidden {
        display: none;
    }

    .menu-container:hover .menu-hidden {
        display: block;
    }

    .menu-container {
        position: relative;
    }

    .menu-hidden {
        position: absolute;
        right: 0;
        top: 100%; /* Para que el menú quede justo debajo del botón */
        z-index: 50;
        width: 12rem; /* Ajusta el ancho si es necesario */
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
    }
</style>

<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-3xl font-bold">Consultar Importación</h1>
                <div class="flex items-center space-x-4 relative">
                    <a href="{% url 'servicios_supervisor' %}" class="text-black flex items-center">
                        <i class="fas fa-home mr-2"></i>Inicio
                    </a>
                    <div class="menu-container">
                        <div class="text-black flex items-center cursor-pointer">
                            <i class="fas fa-bars mr-2"></i>Menú
                        </div>
                        <div class="menu-hidden">
                            <a href="{% url 'listar_importacionS' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Listar Importaciones</a>
                        </div>
                    </div>
                </div>
            </div>
            <form method="GET" class="mb-4">
                <div class="mb-4">
                    <label for="import_id" class="block text-sm font-medium text-gray-700">ID de la Importación</label>
                    <select id="import_id" name="import_id" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" onchange="this.form.submit()" required>
                        <option value="">-- Selecciona una Importación --</option>
                        {% for importacion in importaciones %}
                            <option value="{{ importacion.idImportacion }}" {% if impo_data and impo_data.idImportacion == importacion.idImportacion %}selected{% endif %}>{{ importacion.idImportacion }} - {{importacion.proveedor}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <div id="importacion-details" class="mt-6">
                {% if impo_data %}
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Campo</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Valor</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Fecha Declaración</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.fechaDeclaracion }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Proveedor</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.proveedor }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Descripción de Mercancía</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.descripcionMercancia }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Código Arancelario</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">#{{ impo_data.codigoArancelario }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Cantidad</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.cantidad }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Unidad de Medida</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.unidadMedida }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Valor CIF</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">${{ impo_data.valorCif }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Impuestos</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.impuestos }} %</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Origen de Mercancía</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.origenMercancia }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Puerto de Entrada</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.puertoEntrada }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">ID Transporte</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.transporteID.idTransporte }} - {{ impo_data.transporteID.empresaTransporte }}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">ID Responsable</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">{{ impo_data.responsableID.id }} - {{impo_data.responsableID.nombreCompleto}}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-gray-600">Selecciona una importación para ver sus detalles.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
