# Ignorar entorno virtual
venv/

# Ignorar archivos del sistema
*.DS_Store
*.log
*.pyc
_pycache_/

# Ignorar bases de datos locales y archivos sensibles
*.sqlite3
.env

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos estáticos generados
staticfiles/
media/